.source-field {
  flex: 1;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1.5rem;

  button {
    translate: 0 -.755rem;
  }
}

:host {
  display: grid;
  place-items: center;
  padding: 1rem;
}
